body
{
    padding: 0px;
    margin: 0px;
    
}
.page_container
{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #795548;
    min-height: 800px;
    padding-bottom: 50px;
}
.welcomin
{
    width: 90%;
    margin: 0px auto;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    padding: 20px;
    height: 200px;
    line-height: 200px;
    background-color: darkred;
    margin-right: 50px;
    margin-left: 50px;
    color: white;
    font-size: 35px;
    font-family: "Algerian",sans-serif;
    text-align: center;
    box-shadow: 10px 10px 30px white;
}
.form
{
    width: 70%;
    margin: 0px auto;
    background-color: #523328;
    margin-top: 50px;
    border-top-left-radius: 130px;
    border-bottom-right-radius: 130px;
    /*margin-bottom: 40px;*/
    padding-top: 50px;
    padding-bottom: 50px;
}
.form>.std_info
{
    width: 600px;
    text-align: center;
    height: 50px ;
    line-height: 50px;
    outline: none;
    margin: 0px auto;
    font-size: 25px;
    color: white;
    margin-bottom: 50px;
    font-family: "Lucida Calligraphy","Matura MT Script Capitals";
    box-shadow: 3px 3px 10px white;
    
}
.asd
{
    font-size: 25px;
}
input[type='text'],input[type='submit'],select
{
    display: block;
    width: 70%;
    height: 50px;
    line-height: 50px;
    outline: none;
    margin: 0px auto;
    margin-bottom: 20px;
    text-indent: 20px;
    font-size: 20px;
    font-family: "comic sans ms";
    border-radius: 20px;
}
.logout_dashboard
{
    width: 1254px;*/
    height: 70px;*/
    line-height: 150px;
    margin: 0px auto;
    background-color: #6d0f0f;
    margin-left: 50px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 9px 16px 35px white;
    text-align: center;
    z-index: 1;
}

a
{
    display: inline-block;
    width: 250px;
    height: 70px;
    margin-left: 50px;
    color: white;
    z-index: 3;
    line-height: 70px;
    font-size: 25px;
    text-decoration: none;
    background-color: #b34b25;
    border-radius: 20px;
    transition: all 1s ease-in-out;
}
a:hover
{
    background-color: brown;
}
.form
{
    width: 70%;
    margin: 0px auto;
    background-color: #3f51b5;
    margin-top: 50px;
    border-top-left-radius: 130px;
    border-bottom-right-radius: 130px;
    /*margin-bottom: 40px;*/
    padding-top: 50px;
    padding-bottom: 50px;
}
input[type='submit']
{
    background-color: #46100c;
    color: white;
    text-indent: 0px;
    font-size: 30px;
    width: 300px;
    transition: all 1s ease-in-out;
}
input[type='submit']:hover
{
    background-color: #882017;
}
table,th,td
{
   
    
    border-collapse: collapse;
    padding: 5px;
    font-size: 20px;
    font-family: "comic sans ms";
    text-align: center; 
}
tr:nth-child(odd)
{
    background-color: #004000;
    color: white;
}
tr:nth-child(even)
{
    background-color: #008000;
    color: white;
}
th{
     background-color: #1873bb;
    color: white;
    padding: 10px;
}

table
{
     width: 100%;
     margin-top: 40px;
}
caption
{
    color: #ad654b;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.level,.roll_no
{
    width: 300px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 25px;
    margin-left: 100px;
}